html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  }
  
  body {
    color: lightgray;

  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  section {
    min-height: 100vh;
    width: 100vw;
  }
  
  @mixin mobile {
    @media (max-width: 738px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: 1366px) {
      @content;
    }
  }